JWT_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6ImFkbWluQGdvb3AuY29tIiwibmFtZSI6IkFkbWluIEdvb3AiLCJpYXQiOjE3NDQ1NDY1NTcsImV4cCI6MTc0NDU1Mzc1N30.1pOEhKqpShKZ1lqZO5Yaqo7zqVYR-7CE1TbAJI5P5ko
PORT=3000
MONGO_URI=mongodb://localhost:27017/goopdb
